<h1>Iata Api Request</h1>

<!-- parses api response to only display airports and codes -->
<%= @airports.each do |ap| %>
<%= puts "boo"  %>
<p><%= puts "Airport Name: #{ap["name"]}, Airport Code: #{ap["code"]}." %></p>

<% end %>

<%= @airports.each do |ap| %>
  <%= puts "Test for anything"  %>
<% end %>
